---
Checks: '*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -abseil-*,
  -altera-*,
  -android-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -clang-analyzer-alpha.core.CastToStruct,
  -clang-analyzer-alpha.deadcode.UnreachableCode,
  -clang-analyzer-alpha*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-diagnostic-gnu-zero-variadic-macro-arguments,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-*,
  -llvm-include-order,
  -llvm-namespace-comment,
  -llvmlibc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-bool-literals,
  -modernize-use-default-member-init,
  -modernize-use-default,
  -modernize-use-emplace,
  -modernize-use-equals-default,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-avoid-endl,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-cast,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -readabilty-namespace-comments'
WarningsAsErrors: ''
CheckOptions:
  - key:             cert-oop11-cpp.UseCERTSemantics
    value:           '1'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '3'
  - key:             bugprone-easily-swappable-parameters.IgnoredParameterNames
    value:           'x;y'
...
